DATABASE_URL="postgresql://postgres:fQvNzIwFegpvoWDZ@db.eoveqneueyubxwokqeao.supabase.co:5432/postgres"
DIRECT_URL="postgresql://postgres:fQvNzIwFegpvoWDZ@aws-1-us-east-2.db.supabase.co:5432/postgres"
